body {
	background-color: #56f3f8;
}

.topnav {
	border-bottom: 2px solid #0e6669;
	width: 100%;
	margin-left: 10%/6;
	padding: 10px 0 10px 0;
}

.nodemonImage {
	margin-top: 10%;
	position: absolute;
	margin-left: 36%;
	text-align: center;
	opacity: 0.4;
	background: url(./../images/nodemonLogo.png);
}

span {
	font-style: italic;
}

#dataResponse {
	height: 450px;
	width: 600px;
	border-radius: 8%;
	opacity: 0.9;
}

#urlAnatomy {
	height: 450px;
	width: 600px;
	border-radius: 8%;
	opacity: 0.9;
}

h1 {
	text-align: center;
}
