body {
	background-color: #f8a44f;
}

h1 {
	text-align: center;
}

#container {
	background-color: bisque;
	border: 2px solid black;
	padding-left: 2em;
	display: flex;
	flex-direction: row;
}

#container div {
	width: 500px;
	height: 100px;
}

#datatext {
	text-align: end;
}
