body {
	background-color: #f8a44f;
}

.nodemonImage {
	margin-top: 10%;
	position: absolute;
	margin-left: 36%;
	text-align: center;
	opacity: 0.4;
	background: url(./../images/nodemonLogo.png);
}

h1 {
	text-align: center;
}

.topnav {
	border-bottom: 2px solid #805224;
	width: 100%;
	margin-left: 10%/6;
	padding: 10px 0 10px 0;
}

span {
	font-style: italic;
}
